<% @title = "Students" %>

<h1>Current Research Students</h1>

<% if session[:user_id] %>
  <h3><%= link_to 'New Student', new_student_path %></h3>
  <br/><h3><%= link_to 'Upload project CSV', upload_students_path %></h3>
<% end %>

<div id='students'>
  <%= render 'students' %>
</div>

<br />
<% if session[:user_id] %>
        <%= link_to 'New Student', new_student_path %>
<% end %>
